<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is our home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus exercitationem necessitatibus ex voluptatibus fugiat libero facere fugit tempore! Accusantium ad, doloremque modi temporibus quisquam similique iusto vel tempore suscipit illo.</p>
    <button>click me</button>
</body>
</html>